<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
  </head>
  <body>
    <main>
      <h1>Welcome to Admin Dashboard</h1>

      <a href="/logout" class="btn">Logout</a>

      <section class="products-section">
        <h2>Products</h2>
        <table>
          <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Cost price</th>
            <th>Selling price</th>
          </thead>

          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.qty }}</td>
              <td>{{ product.cost_price }}</td>
              <td>{{ product.selling_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
