<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
  </head>
  <body>
    <nav>
      <h1>Admin Dashboard</h1>

      <div class="nav-links">
        <a href="/admin/home">Home</a>
        <a href="/admin/products">Products</a>
        <a href="/admin/orders" class="active">Orders</a>
        <a href="/admin/customers">Customers</a>
        <a href="/admin/suppliers">Suppliers</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>

    <main>
      <section class="orders-section">
        <h2>Orders</h2>
        <table>
          <thead>
            <th>Type</th>
            <th>Product Id</th>
            <th>Qty</th>
            <th>Status</th>
            <th>Date Placed</th>
            <th>Date Delivered</th>
            <th>Supplier Id</th>
            <th>Customer Id</th>
          </thead>

          <tbody>
            {% for order in orders %}
            <tr>
              <td>{{ order.type }}</td>
              <td>{{ order.product_id }}</td>
              <td>{{ order.qty }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.date_placed }}</td>
              <td>{{ order.date_delivered }}</td>
              <td>{{ order.supplier_id }}</td>
              <td>{{ order.customer_id }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
