* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  background-color: rgb(144, 208, 229);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  background-color: rgb(109, 200, 230);
}

thead {
  background-color: coral;
}

tbody tr:nth-child(even) {
  background-color: rgb(144, 208, 229);
}

th,
td {
  padding: 0.25rem;
}

td {
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}
