* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  background-color: rgb(144, 208, 229);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: black;
}

a:hover {
  background-color: rgb(109, 200, 230);
}
