* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-links a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #444;
}

.nav-links a.active {
  color: rgb(50, 185, 230);
  border-bottom: 2px solid rgb(50, 185, 230);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  background-color: rgb(144, 208, 229);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  background-color: rgb(109, 200, 230);
}

thead {
  color: white;
  background-color: rgb(50, 185, 230);
}

tbody tr:nth-child(even) {
  background-color: rgb(211, 243, 254);
}

th,
td {
  padding: 0.25rem;
}

td {
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}
