* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 4px;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: black;
  background-color: rgb(144, 208, 229);
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(109, 200, 230);
}
